.mainpanle {
    padding: 10px 15px;
    opacity: .5;
    font-size: 13px;
}


/*********************************************************/

.title {
    font-family: 'sahel';
    color: #0071ab;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    padding: 0;
    text-align: center;
    margin: 12px 0 16px 0;
}

.khb1 {
    /* border-bottom: 1px #e6e3e3 dotted; */
    /* border-top: 1px #e6e3e3 dotted; */
    position: relative;
    font-size: 12px;
    color: #b5b9b7;
    text-align: left;
    padding: 5px;
    font-family: sahel;
}

.khb1 i {
    margin-left: 5px;
}

.s_khb2:not(:last-child):after {
    content: "|";
    display: inline-block;
    opacity: 0.4;
    padding: 0 10px;
}

.description {
    font-size: 14px;
    color: #2f6882;
    background-color: #e9f1f7;
    line-height: 180%;
    text-align: justify;
    height: auto;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    padding: 20px;
}

.listleft {
    background: #ffffff8c;
    color: #b3b2b6;
    border-radius: 0 0 8px 8px;
}

img.khb3 {
    margin-right: 15px;
    margin-top: 7px;
    border-radius: 3%;
    width: 230px;
    float: left;
}

.khb4 {
    margin: 15px 0;
}

h4.toptitle {
    color: #9c9c9c;
    margin: 10px 0;
    font-size: 12px;
    font-weight: 400;
}

.khb4 {
    line-height: 28px;
    font-size: .96rem;
    color: #353535;
    text-align: justify;
}

.leftbox {
    border-radius: 8px;
    background: #e9f1f7;
    padding: 0 0 12px 0;
}

.leftbox2 {
    margin-top: 20px;
    border-radius: 8px;
    background: #e9f1f7;
    padding: 0 0 12px 0;
}

.tleftbox h2 {
    font-family: 'sahel';
    color: #5f6368;
    padding: 12px 0;
    margin: 0 16px;
    border-bottom: 1px solid #dadce0;
    font-size: 16px;
    font-weight: 700;
}

.tleftbox h2:after {
    content: '';
    border-bottom: 3px solid #035986;
    width: 130px;
    display: block;
    margin: 0 auto;
    position: absolute;
    margin-top: 12px
}

.art {
    margin: 10px 16px;
}

.art h4 a {
    display: block;
    font-weight: 500;
    font-size: 13px;
    color: #696969;
    line-height: 1.8;
}

.figart {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    /* padding: 10px; */
    position: relative;
    margin: 0 10px 0 0;
    border-radius: 8px;
    /* display: block; */
    overflow: hidden;
}

.figart img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: inherit;
}

.aart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    cursor: pointer;
    box-sizing: inherit;
    /* display: flex; */
    box-sizing: initial;
}


/*-------------------------------------------------------------------------*/

.adds {
    /* background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffffff00 15%, #efefef 100%) repeat scroll 0 0; */
    padding: 7px;
}


/*.media-body, .media-left, .media-right {
    vertical-align: middle !important;
}*/

.addtag {
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    color: #075e8c;
    font-weight: bold;
    background: #ececec;
    color: #000000;
}

.addtag .fa-tags {
    font-size: 16px;
    padding: 10px;
    background: #dedede;
    color: #000000;
}

.addvol {
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    color: #075e8c;
    font-weight: bold;
    background: #ececec;
    color: #000000;
}

.addvol .fa-volume-up {
    font-size: 18px;
    padding: 10px;
    background: #dedede;
    color: #000000;
}

.addvid {
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    color: #075e8c;
    font-weight: bold;
    background: #ececec;
    color: #000000;
}

.addvid .fa-video-camera {
    font-size: 16px;
    padding: 10px;
    background: #dedede;
    color: #000000;
}

.addpdf {
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    color: #075e8c;
    font-weight: bold;
    background: #ececec;
    color: #000000;
}

.addpdf .fa-file-pdf-o {
    font-size: 18px;
    padding: 10px;
    background: #dedede;
    color: #000000;
}

.addword {
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    color: #075e8c;
    font-weight: bold;
    background: #ececec;
    color: #000000;
}

.addword .fa-file-word-o {
    font-size: 18px;
    padding: 10px;
    background: #dedede;
    color: #000000;
}

.addlink {
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    color: #075e8c;
    font-weight: bold;
    background: #ececec;
    color: #000000;
}

.addlink .fa-link {
    font-size: 16px;
    padding: 10px;
    background: #dedede;
    color: #000000;
}

.ullink>ul {
    padding: 3px 0;
}

.ullink li {
    padding: 5px 0;
    border-bottom: 1px solid #f3f1f1;
}

.ullink li:before {
    content: url('../images/bull1.png');
    margin-left: 5px;
    vertical-align: bottom;
}

.ullink a {
    font-weight: 400;
    font-size: 14px;
    color: #075e8c;
}

.ullink a:hover,
.ullink a:active {
    color: #333;
    padding: 0 3px;
    font-weight: 500;
}

.ullink span {
    font-size: 12px;
    color: #a9a9a9;
}

.addcomm {
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    color: #075e8c;
    font-weight: bold;
    background: #ececec;
    color: #000000;
}

.addcomm .fa-comments {
    font-size: 16px;
    padding: 10px;
    background: #dedede;
    color: #000000;
}


/*-- marquee --*/

.marquee {
    line-height: 1.3em;
    color: #330099;
    padding: 1.5em;
    width: 500px;
}


/*-- marquee --*/


/*-------------------------------------------------------------------------*/

@media screen and ( max-width: 480px) {
    img.khb3 {
        margin-top: 7px;
        border-radius: 3%;
        width: 100%;
    }
}

@media screen and ( max-width: 320px) {
    img.khb3 {
        margin-top: 7px;
        border-radius: 3%;
        width: 100%;
    }
}